* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    /* 1rem = 16px
    1rem = 10px for easy to convert
    font size = 10px but size was fixed not change user
    100% / 16== 6.25%; 
    6.25 *10 =62.5% */

    font-size: 62.5%;
}

body {
    font-family: 'Poppins';

}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

.row {
    display: flex;
    flex-wrap: wrap
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.container {
    max-width: 1390px;
    margin: 0 auto;
    padding: 0 10px;
}

:root {
    --primary-color: #ffffff;
    --secondry-color: #000000;
}

.common-btn {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1.6rem 2.5rem;
    border-radius: 3rem;
    background: #000;


}

.main-title {
    color: #020202;
    text-align: center;
    font-size: 6rem;
    font-weight: 600;
    line-height: 7rem;
    /* margin-top: 15rem; */
    margin-bottom: 2.8rem;

}

.sub-title {
    color: #878787;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3.6rem;
    padding-bottom: 8rem;
    max-width: 75rem;
    margin: 0 auto;
}


/******** Header ********/
header {
    /* background-color: #C4C4C4; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 5.2rem;
    z-index: 4;
    /* backdrop-filter: blur(50px); */
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header nav {
    margin-left: auto;
}

header nav>i {
    margin-right: 2rem;
}


header .container nav ul li {
    display: inline-block;
    margin-right: 6.6rem;
}

header nav ul li a {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    text-shadow: 0px 0px 5px black;
}

header nav ul li a:hover,
header nav ul li a i:hover {
    font-size: 2rem;
    color: rgb(0, 182, 206);
    transition: all 0.5s;
}

header i {
    font-size: 1.8rem;
    color: var(--primary-color);
    text-shadow: 0px 0px 5px black;
}

.container nav>i,
#menu>i {
    display: none;
}




/*************************/

/******Hero section ********/

#hero {
    background-image: url(../images/travel-bali.jpg);
    width: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;
    /* z-index: -1; */
}

video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.video-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

}


#hero::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.652);
    z-index: 1;


}

.hero-data {
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 35.2rem 0;
    position: relative;
    z-index: 2;

}

.hero-data h1 {
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 7rem;
    color: var(--primary-color);
    margin-bottom: 1.6rem;
}

.hero-data p {

    color: #CFCFCF;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 7rem;
    max-width: 46.3rem;
}

/****************************/


/***********About-Us*********/
#about-us {
    padding: 15rem 0;
}

.about h2 {
    margin-bottom: 2.8rem;
}

.about {
    max-width: 76.4rem;
    margin: 0 auto;
}

.about-menu {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 8rem;
    justify-content: center;
}

.about-menu .menu {
    display: flex;
    align-items: center;
    /* justify-items: center; */
    flex-direction: column;

}

.about-menu .menu:nth-child(1) {
    padding-right: 2.8rem;
}

.about-menu .menu:nth-child(2) {
    padding: 0 2.8rem;
}

.about-menu .menu:nth-child(3) {
    padding-left: 2.8rem;
}

.about-menu .menu img {
    max-width: 7.5rem;
    max-height: 7.5rem;
    margin-bottom: 4.2rem;
}

.about-menu .menu h3 {
    color: var(--secondry-color);
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 7rem;
    margin-bottom: 1.3rem;
}

.about-data {
    display: flex;
    justify-content: space-between;
    margin-top: 8.3rem;
}

.about-data .image img {
    padding-right: 0rem;
    border-radius: 15rem 0 15rem 0;
    height: 100%;
    object-fit: cover;
}

.about-data .data img {
    width: 7.9rem;
    height: 6.4rem;
    margin-bottom: 7.9rem;
}

.about-data .data>p {
    padding-bottom: 0;
    text-align: start;
    color: #484848;
}

.about-data .data p~p {
    margin-top: 4.4rem;
}

.about-data .data h4 {
    color: var(--secondry-color);
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 7rem;
    margin-top: 2.9rem;
}

.about-data .data h4~p {
    color: #858585;
    font-size: 1.8rem;
    margin: 0.1rem 0 3rem 0;
}

/****************************/
/**********group************/
#group {
    background-image: url(../images/travel-bali.jpg);
    width: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;
    /* z-index: -1; */
}

video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.video-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

}


#group::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.652);
    z-index: 1;
}

.group {
    padding: 22.2rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 3rem;
}

/* .group .group-data:last-child {
    padding-right: 1rem;
} */

.group .group-data{
    z-index: 3;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    /* margin: 0 auto; */
    max-width: 28rem;
}

.group .group-data .detil{
    position: relative;
    width: 15rem;
}



.group .group-data img{
    height: 8.2rem;
    width: 8.2rem;
    margin: 1.5rem;
}

.group .group-data h3 {
    color: var(--primary-color);
    text-align: center;
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 7.0rem;
}

.group .group-data p {
    color: #E7E7E7;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3.6rem;
}

.group .group-data i {
    /* padding-left: 2rem; */
    font-size: 3.2rem;
    position: absolute;
    top: 0rem;
    right: 0rem;
}

/****************************/

/**********Gallery***********/
#gallery {
    padding: 17.8rem 0;
}

.gallery p {
    color: #878787;
    text-align: center;
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 7.0rem;
}

.gallery h2 {
    color: #000;
    text-align: center;
    font-size: 6.0rem;
    font-weight: 600;
    line-height: 7.0rem;
}

.gallery-pic {
    margin-top: 7.9rem;
    row-gap: 2rem;
}

.gallery-pic .pic {
    padding: 0 1rem;
}

.gallery .left,
.gallery .top,
.gallery .bottom-left,
.gallery .bottom-right {
    position: relative;
}

.gallery-pic .left img {
    width: 100%;
    height: 67.6rem;
    flex-shrink: 0;
    border-radius: 1.0rem;
    object-fit: cover;
    object-position: center center;
}

.pic .right .top img {
    width: 100%;
    height: 32.8rem;
    flex-shrink: 0;
    border-radius: 1.0rem;
    object-fit: cover;
    object-position: center center;
}

/* .pic .right .row{
    row-gap: 2rem;
} */


.pic .right .bottom:nth-child(1) {
    padding: 2rem 1rem 0 0;
}

.pic .right .bottom:nth-child(2) {
    padding: 2rem 0 0 1rem;
}

.pic .right .bottom img {
    width: 100%;
    height: 32.8rem;
    flex-shrink: 0;
    border-radius: 1.0rem;
    object-fit: cover;
    object-position: center center;

}

.gallery .gallery-pic h3 {
    color: #FFF;
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 7.0rem;
    position: absolute;
    bottom: 0.3rem;
    left: 2.2rem;
}

/****************************/


/**********Subcribe***********/

#subcribe {
    background-image: url(../images/travel.avif);
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: -1;
    justify-content: center;
    padding-top: 11.7rem;
}

#subcribe::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.49);
}

#subcribe .container {
    z-index: 1;
}

#subcribe .container h2 {
    color: #FFF;
    line-height: 7.0rem;

}

#subcribe .container p {
    color: #DFDFDF;
    font-weight: 500;
    line-height: 3.4rem;
}

.email {

    margin: 1.2rem auto 15rem auto;
    background-color: white;
    max-width: 73rem;
    border-radius: 5.0rem;
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 2.5rem;
    z-index: -1;
}

.email input {
    border-radius: 5.0rem;
    color: #9B9B9B;
    font-size: 2.0rem;
    font-weight: 500;
    line-height: 3.4rem;
    border: none;
    z-index: 3;
}

/**************************/

/*************footer*******/

footer .container {
    padding: 11rem 0;
}

footer .container .row {
    justify-content: space-between;
    row-gap: 2rem;
}

footer .container .row .logo {
    display: flex;
}

footer .container .row .logo-data {
    padding-right: 2.5rem;
    max-width: 45rem;
}

footer .container .row .logo-data img {
    object-fit: contain;
    margin-right: 1.4rem;
    width: 7rem;
}

footer .container .row .logo-data h2 {
    font-size: 5.5rem;
}

footer .container .row .logo-data p {
    color: #6C6C6C;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.5rem;
}


footer .container .row h4 {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 7.0rem;
}

/* footer .container .row .information {
    padding-left: 3.5rem;
} */

footer .container .row .information a {
    color: #6C6C6C;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3.4rem;
}

footer .container .row .information span {
    color: #000;
    margin-right: 1rem;
}

footer .container .row .quick-link a {
    display: block;
    color: #6C6C6C;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3.4rem;
}

footer .container .row .follow-us ul li {
    display: inline;
}

footer .container .row .follow-us a {
    color: #090909;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 3.4rem;
    margin-right: 2rem;
}

.footer-data .information ul li a:hover,
.footer-data .quick-link ul li a:hover {
    font-weight: 700;
    color: #069ABA;
    text-decoration: underline;
}

.footer-data .follow-us .fa-facebook:hover {
    font-size: 2.8rem;
    transition: all 0.3s;
    color: rgb(8, 102, 255);
}

.footer-data .follow-us .fa-twitter:hover {
    font-size: 2.8rem;
    transition: all 0.3s;
    color: rgb(29, 161, 242);
}

.footer-data .follow-us .fa-youtube:hover,
.fa-location-dot:hover {
    font-size: 2.8rem;
    transition: all 0.3s;
    color: rgb(255, 0, 0);
}

.footer-data .follow-us .fa-instagram:hover {
    font-size: 2.8rem;
    transition: all 0.3s;
    color: rgb(215, 64, 127);
}

.fa-envelope:hover {
    color: rgb(168, 168, 0);
}

.copyright {
    width: 100%;
    height: 8.0rem;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright p {
    color: #DFDFDF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3.4rem;
}

/*************************/